sphinx >=2.0,< 4.1.0 # https://github.com/sphinx-doc/sphinx/issues/9433, https://github.com/michaeljones/breathe/pull/711
breathe >= 4.13.0
docutils == 0.16
exhale
sphinx_rtd_theme
sphinx_tabs
sphinx-copybutton
